    <!-- Download Section -->
    <section id="deploy" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Run or Deploy</h2>
                    <p>Everything is open-sourced in our github repo.</p>
                    <p><a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Github Repo</a></p>
                    <p>You can also deploy PLAVA, starting from a few step in our huggingface repo.</p>
                    <p><a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Huggingface Page</a></p>    
                </div>
            </div>
        </div>
    </section>