    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h5 class="brand-heading">{{ site.title }}</h5>
                        <p class="intro-text">{{ site.description }}</p>
                        <p>
                            <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Paper</a>
                            <a href="https://github.com/magic-research/PLLaVA" class="btn btn-default btn-lg">Github</a>
                            <a href="https://25656e6b153232cb72.gradio.live/" class="btn btn-default btn-lg">34b Gradio</a>
                        </p>
                        <br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
