    <!-- Download Section -->
    <section id="project" class="content-section text-center">
        <div class="project-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>PLaVA: Pooling LLaVA towards Video Assistant</h2>
                    <p>You can checkout also checkout our paper for more details.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg" color=#fff>Read Paper</a>
                </div>
            </div>
        </div>
    </section>