    <!-- Youtube Section -->
    <section id="youtube" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Watch This Out!</h2>
                <div class="columns is-centered has-text-centered">
                    <div class="is-centered">
                        <span class="author-block"><b style="color:#008AD7; font-weight:normal">&#x25B6 </b><font size="2">A Simple Video demonstrating the application.</font></span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 centered">
            <!-- <iframe width="100%" height="600" src="//player.bilibili.com/player.html?aid=984714877&bvid=BV1ct4y1n7t9&cid=807427488&p=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe> -->
            <!-- <iframe width="100%" height="600" src="//player.bilibili.com/player.html?aid=1103623883&bvid=BV1Zw4m127Gj&cid=1519432261&p=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe> -->
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/nAEje8tu18U?si=FkJaYpNtvp72rFcX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/nAEje8tu18U?si=FkJaYpNtvp72rFcX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        </div>
    </section>